{% extends "base.html" %}
{% load i18n %}
{% load static %}
<title>{% block title %}{% translate 'Change Password' %}{% endblock %}</title>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block content %}

    <div class="container-fluid pt-3" style="min-height: 85vh">
        <div class="row m-auto w-50">
            <div class="col-12 text-center">
                {% include 'customer/customer_panel.html' with customer_panel=customer %}
            </div>
        </div>
        <div class="text-center w-50 m-auto p-3 pt-0">
            {% if msg %}
                <div class="alert alert-success">
                    {{ msg|escape }}
                </div>
            {% endif %}
        </div>
        <div id="content-main" class="container-fluid text-center p-3">
        <div class="card p-5 m-auto w-50 pt-3 pb-3 text-left" style="background-color: #c2cbd1">
            <h6 class="text-center">{% translate 'Change Password' %}</h6>


                <form enctype="multipart/form-data" class="form-group" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group-lg">
                            <strong>{{ field.label_tag }}</strong>
                            <span type="input" class="input-group">{{ field }}</span>
                            <span style="color: dimgrey; font-size: small">{{ field.help_text }}</span>
                            <span style="color: orangered">{{ field.errors }}</span>
                        </div>

                    {% endfor %}
                    <br>
                    <input type="submit" name="update" value="Change Password"
                           class="btn btn-outline-dark btn-block">
                </form>


            </div>


        </div>
    </div>
{% endblock %}