{% extends "base.html" %}
{% load i18n %}
{% load static %}
<title>{% block title %}{% translate 'Login' %}{% endblock %}</title>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block content %}
    <div class="container-fluid m-auto p-3 text-center w-50">
        <div class="card form-group text-left p-3 bg-secondary text-light">
            <h5 class="text-center">{% translate 'Login to MARKET' %}</h5>

            <form class="form-group p-3" action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group-lg">
                    <strong>{{ field.label_tag }}</strong>
                    <span type="input" class="input-group">{{ field }}</span><br>
                    <span style="color: lightgrey; font-size: small">{{ field.help_text }}</span>
                    <span style="color: orangered">{{ field.errors }}</span>
                </div>

            {% endfor %}
            <div class="p-0">
                <input class="btn btn-block btn-success m-auto" type="submit" value="Login" >
            </div>

            </form>

        <div class="p-3 mt-0">
            <p>{% translate 'If you have not a account please signup:' %}</p>
            <a class="text-decoration-none" href="/customer/signup/"><button class="btn btn-primary btn-block m-auto">
                {% translate 'Signup' %}
            </button></a>
        </div>
        </div>
    </div>
{% endblock %}