{% load i18n %}
<div class="container-fluid address_card_view text-left m-2 mt-2 p-2" style="">

    <div class="row form-group">
        <table class="table table-responsive-md m-auto">

            <tr style="background-color: #c2cbd1; text-align: center" class="thead-light">
                <th>
                    {% translate 'Title:' %}
                </th>
                <th>
                    {% translate 'State:' %}
                </th>
                <th>
                    {% translate 'City:' %}
                </th>
                <th>
                    {% translate 'Details:' %}
                </th>
            </tr>
            <tr style="background-color: white; text-align: center">
                <td style="color: #353232; ">{{ address_card.title }}</td>
                <td style="color: #353232; ">{{ address_card.state }}</td>
                <td style="color: #353232; ">{{ address_card.city }}</td>
                <td style="color: #353232; ">
                    <a href="/customer/dashboard/addresses/{{ address_card.id }}">
                        <button class="btn btn-outline-dark btn-sm">
                            {% translate 'Show' %}
                        </button>
                    </a>
                </td>
            </tr>

        </table>


    </div>
</div>