{% load i18n %}

<tr style="background-color: white; text-align: center">
    <td style="color: #353232; ">{{ address_card.id }}</td>
    <td style="color: #353232; ">{{ address_card.owner }}</td>
    <td style="color: #353232; ">{{ address_card.title }}</td>
    <td style="color: #353232; ">{{ address_card.country }}</td>
    <td style="color: #353232; ">{{ address_card.state }}</td>
    <td style="color: #353232; ">{{ address_card.city }}</td>
    <td style="color: #353232; ">{{ address_card.latitude }}</td>
    <td style="color: #353232; ">{{ address_card.longitude }}</td>
    <td style="color: #353232; ">{{ address_card.post_code }}</td>

</tr>

