{% load i18n %}

<tr style="background-color: white; text-align: center">
    <td style="color: #353232; ">{{ address_card.title }}</td>
    <td style="color: #353232; ">{{ address_card.state }}</td>
    <td style="color: #353232; ">{{ address_card.city }}</td>
    <td style="color: #353232; ">
        <a href="/customer/dashboard/addresses/{{ address_card.id }}">
            <button class="btn btn-outline-dark btn-sm">
                {% translate 'Show' %}
            </button>
        </a>
    </td>
</tr>

