{% extends "base.html" %}
{% load i18n %}
{% load static %}
<title>{% block title %}{% translate 'Address Detail:' %}{{ customer }}{% endblock %}</title>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block content %}
    <div class="container-fluid pt-3" style="min-height: 85vh">
        <div class="row m-auto w-50">
            <div class="col-12 text-center">
                {% include 'customer/customer_panel.html' with customer_panel=customer %}
            </div>
        </div>
        <div id="info" class="row w-75 m-auto p-3 ">

            <div class="col-12 text-center">
                <div class="container-fluid">
                    <h6 class="text-center">{% translate 'Address information' %}</h6>

                    <div class="container-fluid w-75 pt-0">
                        <form enctype="multipart/form-data" class="form-group" method="post">
                            {% csrf_token %}
                            <table id="customer-detail" class="table text-left table-responsive-md">

                                <input id="address" type="number" value="{{ address_id }}" name="address"
                                       class="form-control"
                                       style="display: none">
                                {% if msg %}
                                    <div class="alert alert-success">
                                        {{ msg|escape }}
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    {% for field in form %}
                                        <tr style="background-color: #c2cbd1" class="thead-light">
                                            <th>
                                                {{ field.label_tag }}
                                            </th>
                                            <th></th>
                                        </tr>
                                        <tr style="background-color: white">
                                            <td style="padding-left: 30px; color: #353232; ">{{ field }}</td>
                                            <td style="color: dimgrey">{{ field.help_text }}</td>
                                        </tr>
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-danger">

                                                    {{ error|escape }}


                                                </div>
                                            {% endfor %}
                                        {% endif %}



                                    {% endfor %}
                                </div>


                            </table>
                            <div class="row">
                                <div class="col-6">
                                    <input type="submit" name="delete" value="Delete"
                                           class="btn btn-danger btn-block float-left">
                                </div>
                                <div class="col-6">
                                    <input type="submit" name="update" value="Update"
                                           class="btn btn-outline-dark btn-block float-right">
                                </div>

                            </div>

                        </form>
                    </div>


                </div>

            </div>
        </div>
    </div>


{% endblock %}