{% load i18n %}

<div class="container-fluid">
    <div class="card sidebar text-center p-2">
        <a href="/customer/dashboard/"><button class="btn m-1 btn-block btn-secondary">{% translate 'User Information' %}</button></a>
        <a><button class="btn m-1 btn-block btn-secondary">{% translate 'Orders History' %}</button></a>
        <a><button class="btn m-1 btn-block btn-secondary">{% translate 'Orders Status' %}</button></a>
        <a href=""><button class="btn m-1 btn-block btn-secondary">{% translate 'Addresses List' %}</button></a>
        <a><button class="btn m-1 btn-block btn-secondary">{% translate 'Account' %}</button></a>
        <a><button class="btn m-1 btn-block btn-secondary">{% translate 'Update Account' %}</button></a>
    </div>
</div>