{% extends "base.html" %}
{% load i18n %}
{% load static %}
<title>{% block title %}Customer Dashboard{% endblock %}</title>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block content %}
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-3">
                {% include 'customer/customer_side_panel.html' with customer_panel=customer %}
            </div>
            <div class="col-9">

                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <h5 class="text-center">{% translate 'User information' %}</h5><br>
                            <a>
                                <button class="btn btn-outline-dark float-right">{% translate 'Edit Info' %}</button>
                            </a><br><br><br>
                            <div class="row">
                            {% include 'customer/customer_details.html' with customer_detail=customer %}
                            </div>
                        </div>

                        <div class="row">
                            {% for cart in carts %}
                                {% include 'order/cart_card.html' with cart_card=cart %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-6">
                        <h5 class="text-center">{% translate 'User Addresses' %}</h5>
                        <a href="/customer/add_address/">
                            <button class="btn btn-outline-dark float-right">{% translate 'Add Address' %}
                            </button>
                        </a><br><br>
                        {% for address in customer_address %}
                            {% include 'customer/address_card.html' with address_card=address %}
                        {% endfor %}

                    </div>

                </div>
            </div>
            <div class="container-fluid">

            </div>
        </div>
    </div>
{% endblock %}