{% load i18n %}
<div class="card customer_card_view text-left m-2 mt-2 shadow" style="width: 100%;
 border-radius: 2px; padding: 10px; background-color: #e3e9f3; max-height: 200px">
    <div class="row">
        <div class="col-4">
            <br>
            <h5>{% translate 'Name:' %} {{ customer_card.first_name }} {{ customer_card.last_name }}</h5>
            <h6>{% translate 'Phone:' %} {{ customer_card.phone }}</h6>
        </div>
        <div class="col-4">
            <p>{% translate 'Username:' %} {{ customer_card.username }}</p>
            <p>{% translate 'Email:' %} {{ customer_card.email }}</p>
            <p>{% translate 'Gender:' %} {{ customer_card.gender }}</p>
        </div>
        <div class="col-2">
            <a href="/customer/dashboard/"><img src="/static/{{ customer_card.image }}" alt="customer image"
                                                            height="100%" style="border-radius: 15px; max-width:200px "></a>

        </div>
        <div class="col-2">
            <br>
            <a href="/customer/dashboard/">
                <button class="btn btn-outline-dark">Customer Details</button>
            </a>
        </div>


    </div>
</div>