{% extends "base.html" %}
{% load i18n %}
{% load static %}
<title>{% block title %}{% translate 'Carts:' %}{{ customer }}{% endblock %}</title>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block content %}
    <div class="container-fluid pt-3" style="min-height: 85vh">
        <div class="row m-auto w-50">
            <div class="col-12 text-center">
                {% include 'customer/customer_panel.html' with customer_panel=customer %}
            </div>
        </div>

        <div class="container-fluid p-3 w-50 m-auto">
            <div class="row">
                <h6 class="col-12 text-center">

                    {% translate 'Orders History' %}</h6>
                <div class="container-fluid form-group text-center">
                    {% if msg %}
                        <div class="alert alert-success">
                            {{ msg|escape }}
                        </div>
                    {% endif %}
                </div>
            <div class="container-fluid address_card_view text-left m-2 mt-2 p-2" style="">

    <div class="row form-group">
        <table class="table table-responsive-md m-auto">

            <tr style="background-color: #c2cbd1; text-align: center" class="thead-light">
                <th>
                    {% translate 'Number:' %}
                </th>
                <th>
                    {% translate 'Date:' %}
                </th>
                <th>
                    {% translate 'Status:' %}
                </th>
                <th>
                    {% translate 'Price:' %}
                </th>
                <th>
                    {% translate 'Address:' %}
                </th>
                <th>
                    {% translate 'Details:' %}
                </th>
            </tr>

                {% for cart in carts %}
                    {% include 'order/cart_card.html' with cart_card=cart %}
                {% endfor %}

        </table>


    </div>
</div>
            </div>


        </div>
    </div>
    <div id="addresses" class="container-fluid">

    </div>
    </div>
    <script>

    </script>
{% endblock %}

