{% extends "base.html" %}
{% load i18n %}
{% load static %}
<title>{% block title %}{% translate 'Cart Details:' %}{{ customer }}{% endblock %}</title>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block content %}
    <div class="container-fluid pt-3" style="min-height: 85vh">
        <div class="row m-auto w-50">
            <div class="col-12 text-center">
                {% include 'customer/customer_panel.html' with customer_panel=customer %}
            </div>
        </div>
        <div class="container-fluid p-3 w-50 m-auto text-center">
            <h5 style="text-align: center">{% translate 'Order Info' %}</h5>
            <div class="row form-group text-center">

                <table class="table table-responsive-md m-auto">

                    <tr style="background-color: #c2cbd1; text-align: center" class="thead-dark">
                        <th>
                            {% translate 'Number:' %}
                        </th>
                        <th>
                            {% translate 'Date:' %}
                        </th>
                        <th>
                            {% translate 'Status:' %}
                        </th>
                        <th>
                            {% translate 'Address:' %}
                        </th>
                        <th>
                            {% translate 'Price:' %}
                        </th>


                    </tr>
                    <tr style="background-color: white; text-align: center">
                        <td style="color: #353232; ">{{ cart.id }}</td>
                        <td style="color: #353232; ">{{ cart.order_date }}</td>
                        <td style="color: #353232; ">{{ cart.order_status }}</td>
                        <td style="color: #353232; ">{{ cart.order_address }}</td>
                        <td style="color: #353232; ">{{ cart.final_price }}</td>


                    </tr>

                </table>


            </div>
        </div>
        <div class="container-fluid p-3 w-50 m-auto text-center">
            <h6 style="text-align: center">{% translate 'Order Items:' %}</h6>
            <div class="row form-group text-center">

                <table class="table table-responsive-md m-auto">

                    <tr style="background-color: #c2cbd1; text-align: center" class="thead-light">
                        <th>
                            {% translate 'Product:' %}
                        </th>
                        <th>
                            {% translate 'Numbers:' %}
                        </th>
                        <th>
                            {% translate 'Price(product):' %}
                        </th>
                        <th>
                            {% translate 'Discount:' %}
                        </th>
                        <th>
                            {% translate 'Final Price:' %}
                        </th>

                    </tr>
                    {% for order_item in cart_order_items %}
                        {% include 'order/order_item_card_for_cart_details_in_customer_dashboard.html' with order_item_card=order_item %}
                    {% endfor %}
                </table>


            </div>
        </div>
    </div>
{% endblock %}