{% extends "admin/base.html" %}

{% block title %}MARKET{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">MARKET ADMIN PANEL</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
{% block extrahead %}
    <style>
    @font-face {
        font-family: "Comic Sans MS"
    }
    body {
        font-family: "Comic Sans MS"
    }
    :root {
        --primary: #f85f59;
        --secondary: #f97d38;
        --accent: #932735;
        --body-bg: #eff5db;
        --link-fg: #4003a4;
        --header-link-color: #fcfcfc;
        --breadcrumbs-link-fg: #fcfcfc;
        --hairline-color: #eff8d0;
        --darkened-bg: #ece8be;


    }

    </style>
{% endblock %}
