{% load i18n %}
<div class="card product_card_view text-center ml-auto mr-auto m-2  bg-white shadow" style="width: 220px;
 padding: 3px; height: 280px; overflow-y: revert " >
    <a href="/product/{{ product_card.id }}"><img src="/static/{{ product_card.image }}" alt="product image"
                                                  width="100%" style="border-radius: 5px; height:180px "></a>
    <h5>{{ product_card.name }}</h5>
    <h5 class="text-center text-danger">{{ product_card.price }}</h5>
    <h6 class="text-info">{{ product_card.inventory_status }}</h6>



</div>