{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block content %}
    <div id="content-main" class="container-fluid text-center">
        <div id="product-overview" class="row p-3">
            <div id="product-info" class="col-6">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <h3 style="color: darkred">{{ product_details.inventory_status }}</h3>
                    <p>{% translate 'Product Name:' %}</p>
                    <h2>{{ product_details.name }}</h2>
                    <p>{% translate 'Price:' %}</p>
                    <h3>{{ product_details.price }}</h3>
                    <p>{% translate 'Price After Discount:' %}</p>
                    <h2 class="text-success">{{ product_details.calculate_final_price }}</h2>
                    <div>
                        <input id="product" type="text" value="{{ product_details.id }}" name="product" class="form-control"
                               style="display: none">
                    </div>
                    <div class="row w-50 text-center m-auto">
                        <hr>
                        <div class="p-1">
                        <input type="number" placeholder="1" value="0" min="0" max="{{ product_details.inventory }}"
                               name="product_number" class="num form-control" style="width: 100px"><br>
                            </div><br>
                        <div class="p-1">
                        <a>
                            <button type="submit" class="btn btn-primary">{% translate 'Add to Cart' %}
                            </button>
                        </a>
                            </div>
                    </div>


                </form>
            </div>
            <div id="product-image" class="col-6">

                <img src="/static/{{ product_details.image }}" alt="product image" width="400px"
                     style="border: 2px solid black; border-radius: 15px">

            </div>

        </div>
        <table id="product-detail" class="table text-left w-75 m-auto">
            <tr>
                <th>
                    {% translate 'Category:' %}
                </th>
            </tr>
            <tr>
                <td style="padding-left: 30px; color: #231e1e; background: white">{{ product_details.category.name }}</td>
            </tr>
            <tr>
                <th>
                    {% translate 'Product Name:' %}
                </th>
            </tr>
            <tr>
                <td style="padding-left: 30px; color: #231e1e; background: white">{{ product_details.name }}</td>
            </tr>
            <tr>
                <th>
                    {% translate 'Company Brand:' %}
                </th>
            </tr>
            <tr>
                <td style="padding-left: 30px; color: #231e1e; background: white">{{ product_details.company_brand }}</td>
            </tr>
            <tr>
                <th>
                    {% translate 'Product Specifications:' %}
                </th>
            </tr>
            <tr>
                <td style="padding-left: 30px; color: #231e1e; background: white">{{ product_details.specifications }}</td>
            </tr>
        </table>
        <br>

    </div>
{% endblock %}