{% extends "base.html" %}
{% load i18n %}
{% load static %}
<title>{% block title %}{% translate 'Products' %}{% endblock %}</title>

{% block extrastyle %}
    /* scrollable div */

    div.scrollmenu {
    background-color: #93afca;
    overflow: auto;
    white-space: nowrap;
    }

    div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0;
    text-decoration: none;
    }
{% endblock %}
{% block extrahead %}{% endblock %}
{% block content %}
    <div class="container-fluid bg-light shadow text-left">

        <div class="row" style="font-size: 13px">
            {% for cat in category %}
                {% include 'product/category_panel.html' with category=cat %}
            {% endfor %}
        </div>
    </div>
    <div class="container-fluid text-left">
        <div class="row">
            {% for product in products %}
                {% include 'product/card.html' with product_card=product %}
            {% endfor %}
        </div>

    </div>


{% endblock %}