{% extends "base.html" %}
{% load i18n %}
{% load static %}
<title>{% block title %}{% translate 'Contact Us' %}{% endblock %}</title>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block content %}
    <div id="content-main" class="container-fluid text-center p-3">
        <div class="card p-5 m-auto w-50 pt-3 pb-3 text-left" style="background-color: #c2cbd1">
            <h5 class="text-center">{% translate 'Contact Us' %}</h5>

            <form class="form-group p-2" method="post" enctype="multipart/form-data"
              style="border-radius: 3px;" autocomplete="off">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group-lg">
                    <strong>{{ field.label_tag }}</strong>
                    <span type="input" class="input-group">{{ field }}</span>
                    <span style="color: dimgrey; font-size: small">{{ field.help_text }}</span>
                    <span style="color: orangered">{{ field.errors }}</span>
                </div>

            {% endfor %}

            <input class="btn btn-block btn-outline-dark m-auto" type="submit" value="Send Message">


        </form>

        </div>
    </div>

{% endblock %}