<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
<tr style="background-color: white; text-align: center">

    <td style="color: #353232; ">{{ order_item_detail.product }}</td>
    <td style="color: #353232; ">
        <input class="input-group text-center" id="number" name="number" min="1"
               max="{{ order_item_detail.product.inventory }}" type="number"
               value="{{ order_item_detail.product_number }}">
    </td>
    <td style="color: #353232; ">{{ order_item_detail.product.price }}</td>
    <td style="color: #353232; ">{{ order_item_detail.product.discount }}</td>
    <td style="color: #353232; ">{{ order_item_detail.calculate_order_item_price }}</td>
    <td style="color: #353232; padding: 4px">
        <input type="submit" name="update" id="update" value="update" class="btn btn-success">
    </td>
    <td style="color: #353232; padding: 4px">
        <input type="submit" name="delete" id="delete" value="delete" class="btn btn-danger">
    </td>

</tr>
<input name="orderitem_id" value="{{ order_item_detail.id }}" style="display: none">
</form>
{#<script>#}
{#    function addValue() {#}
{#        $('#up')#}
{#    }#}
{#</script>#}
