{% extends "base.html" %}
{% load i18n %}
{% load static %}
<title>{% block title %}{% translate 'Cart SPA' %}{% endblock %}</title>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block content %}
    <div class="container">
    <table class="table table-bordered" id="showdata">
        <thead>
            <tr>
                <th scope="col">{% translate 'Product Name' %}</th>
                <th scope="col">{% translate 'Product Price' %}</th>
                <th scope="col">{% translate 'Numbers' %}</th>
                <th scope="col">{% translate 'Discount' %}</th>
                <th scope="col">{% translate 'Final Price' %}</th>

            </tr>
        </thead>
        <tbody>
        {% for orderitem in orderitems %}
        <tr>
            <td>{{ orderitem.product }}</td>
            <td>{{ orderitem.product.price }}</td>
            <td>{{ orderitem.product_number }}</td>
            <td>{{ orderitem.product.discount }}</td>
            <td>{{ orderitem.calculate_order_item_price }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{#    <div class="container-fluid m-auto p-3">#}
{##}
{##}
{##}
{#        <div class="row">#}
{#            <div class="col-12"><button class="btn btn-outline-success"#}
{#                    onclick="ShowOrderItems()">{% translate 'show order items' %}</button><br></div><br>#}
{#            <div class="col p-2 text-left w-75" id="orderitems">#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-12"><button class="btn btn-outline-success"#}
{#                    onclick="AddOrderItems()">{% translate 'Add order item' %}</button><br></div><br>#}
{#            <div class="col p-2 text-left w-75" id="add_order">#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}

    <script>

        function ShowOrderItems() {
            $('#orderitems').html('')
            $.getJSON("http://127.0.0.1:8000/order/api/cart/orderitems/", function (data) {
                console.log(data)
                $.each(data, function (key, val) {

                    let el = "<li id='" + key + "'>" + val + "</li>"+
                        "<li id='" + key + "'>" + val + "</li>"+
                        "<li id='" + key + "'>" + val + "</li>"+
                        "<li id='" + key + "'>" + val + "</li>"+
                        "<li id='" + key + "'>" + val + "</li>"

                    $('#orderitems').append(el)

                })
            })
        }

        function AddOrderItem() {
            $('#add_order').html('')
            $.getJSON("http://127.0.0.1:8000/order/api/cart/add_orderitem/", function (data) {
                console.log(data)
                $.each(data, function (key, val) {

                    let el = "<li id='" + key + "'>" + val + "</li>"+
                        "<li id='" + key + "'>" + val + "</li>"+
                        "<li id='" + key + "'>" + val + "</li>"+


                    $('#add_order').append(el)

                })
            })
        }



    </script>
{% endblock %}